In [13]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv('../data/restaurants.csv')
df.dropna(inplace=True)
df.reset_index(inplace=True)

df.head()

,index,name,rating,price,categories,latitude,longitude,league,team,stadium,team_latitude,team_longitude,state,city
0,0,Oriole,5.0,4.0,[newamerican],41.886097,-87.644948,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
1,1,Spinning J Bakery and Soda Fountain,4.5,2.0,"[coffee, breakfast_brunch, sandwiches]",41.899450,-87.697160,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
2,2,S.K.Y.,4.5,3.0,"[newamerican, cocktailbars, wine_bars]",41.857808,-87.658043,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
3,3,Kai Zan,4.5,3.0,"[asianfusion, japanese, sushi]",41.895505,-87.691541,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
4,4,Sabroso! Mexican Grill,4.5,2.0,"[mexican, breakfast_brunch, newmexican]",41.893190,-87.667530,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago

In [66]:
df.head()

,index,name,rating,price,categories,latitude,longitude,league,team,stadium,team_latitude,team_longitude,state,city
0,0,Oriole,5.0,4.0,newamerican,41.886097,-87.644948,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
1,1,Spinning J Bakery and Soda Fountain,4.5,2.0,sandwiches,41.899450,-87.697160,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
2,2,S.K.Y.,4.5,3.0,wine_bars,41.857808,-87.658043,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
3,3,Kai Zan,4.5,3.0,sushi,41.895505,-87.691541,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago
4,4,Sabroso! Mexican Grill,4.5,2.0,newmexican,41.893190,-87.667530,NBA,Chicago Bulls,United Center,41.880556,-87.674167,Illinois,Chicago